<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<DockLayout class="page">
    <TextView [(ngModel)]="logs" editable="false"></TextView>
</DockLayout>
